<section class="user-coachs-program">
  <div class="header">
    <p>Compétition</p>
    <p>
      La compétition n'a pas de secret, pour obtenir des résultats il faut
      s'entraîner durement! Nos coachs sportifs vous aideront à passer un cap
      sur le plan technique et physique avec des programmes personnalisés. Que
      ce soit pour la préparation d'un marathon, d'un tournoi de tennis, ou
      d'une saison de Foot ou d'un combat, bénéficiez des conseils avisés de nos
      coachs expérimentés!
    </p>
  </div>
  <div class="content">
    <div class="coachs-program row">
      <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="program-header">Tenis en competition</div>
        <div class="program-img">
          <img
            src="https://trainme.co/c/491-category_default/coach-tennis-en-competition.jpg"
            alt=""
          />
        </div>
        <div class="program-info">
          <div class="program-discription">
            <div class="program-objectifs">
              <p>
                <b>Nos objectifs</b>
              </p>
              <span>
                Améliorer son service, revoir son jeu de jambes, travailler son
                coup droit, revers…
              </span>
            </div>
            <div class="program-cours">
              <p>
                <b>Nos cours</b>
              </p>
              <span> Tennis, Prépraration Physique </span>
            </div>
            <div class="program-conseils">
              <p>
                <b>Notre conseil</b>
              </p>
              <span>
                Préparez vous au mieux pour vos prochains tournois avec l'aide
                de nos coachs expérimentés!
              </span>
            </div>
            <div class="program-recommended">
              <p>
                <b>Fréquence recommandée</b>
              </p>
              <span> Environ 2 à 3 cours par semaine </span>
            </div>
          </div>
        </div>
        <div class="program-btn">
          <button
            routerLink="../home"
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Voir les coachs sportifs
          </button>
        </div>
      </div>
      <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="program-header">Combat en competition</div>
        <div class="program-img">
          <img
            src="https://trainme.co/c/495-category_default/coach-sports-combat-en-competition.jpg"
            alt=""
          />
        </div>
        <div class="program-info">
          <div class="program-discription">
            <div class="program-objectifs">
              <p>
                <b>Nos objectifs</b>
              </p>
              <span>
                Progresser physiquement, diversifier vos tecnhiques de combats…
              </span>
            </div>
            <div class="program-cours">
              <p>
                <b>Nos cours</b>
              </p>
              <span> Boxe, Boxe Thaï, Arts martiaux </span>
            </div>
            <div class="program-conseils">
              <p>
                <b>Notre conseil</b>
              </p>
              <span>
                Bénéficiez de la science du combat de nos coachs en terme de
                techniques et de préparation physique!
              </span>
            </div>
            <div class="program-recommended">
              <p>
                <b>Fréquence recommandée</b>
              </p>
              <span> Environ 2 cours par semaine </span>
            </div>
          </div>
        </div>
        <div class="program-btn">
          <button
            routerLink="../home"
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Voir les coachs sportifs
          </button>
        </div>
      </div>
      <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="program-header">Golf en competition</div>
        <div class="program-img">
          <img
            src="https://trainme.co/c/492-category_default/coach-golf-en-competition.jpg"
            alt=""
          />
        </div>
        <div class="program-info">
          <div class="program-discription">
            <div class="program-objectifs">
              <p>
                <b>Nos objectifs</b>
              </p>
              <span>
                Revoir son swing, gagner en longueur, améliorer son petit jeu…
              </span>
            </div>
            <div class="program-cours">
              <p>
                <b>Nos cours</b>
              </p>
              <span> Golf</span>
            </div>
            <div class="program-conseils">
              <p>
                <b>Notre conseil</b>
              </p>
              <span>
                Corrigez les derniers détails de votre swing ou de votre petit
                jeu avec les conseils d'un pro!
              </span>
            </div>
            <div class="program-recommended">
              <p>
                <b>Fréquence recommandée</b>
              </p>
              <span> Environ 2 à 3 cours par semaine </span>
            </div>
          </div>
        </div>
        <div class="program-btn">
          <button
            routerLink="../home"
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Voir les coachs sportifs
          </button>
        </div>
      </div>
      <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="program-header">Marathon-courses en competition</div>
        <div class="program-img">
          <img
            src="https://trainme.co/c/493-category_default/coach-marathon-courses-en-competition.jpg"
            alt=""
          />
        </div>
        <div class="program-info">
          <div class="program-discription">
            <div class="program-objectifs">
              <p>
                <b>Nos objectifs</b>
              </p>
              <span>
                Réaliser un chrono, finir une course, améliorer sa foulée…
              </span>
            </div>
            <div class="program-cours">
              <p>
                <b>Nos cours</b>
              </p>
              <span> Running, Préparation Physique </span>
            </div>
            <div class="program-conseils">
              <p>
                <b>Notre conseil</b>
              </p>
              <span>
                Etablissez un programme d'entraînement régulier vous permettant
                d'atteindre votre objectif!
              </span>
            </div>
            <div class="program-recommended">
              <p>
                <b>Fréquence recommandée</b>
              </p>
              <span> Environ 3 cours par semaine</span>
            </div>
          </div>
        </div>
        <div class="program-btn">
          <button
            routerLink="../home"
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Voir les coachs sportifs
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
