<div>
    <div class="header">
        <p>Private Coaching Application</p>
        <p>
            Our Application gives you the opportunity to program training sessions from ur home.
        </p>
        <p>
            You can choose whether to have a Certifies Coach to come by and guide Privatly, Or to go by youserlf to Collectif sessions.
            So, what are you waiting for? Start Training now..
        </p>
    </div>
    <div class="groupe">
        <section class="user-coachs-program">
            <div>
                <h4 style="padding-left: 20px; font-weight: bold;font-size: 15px; display: inline-block;">Programs</h4>
                <a 
                routerLink="../coach-program"
                style="padding-right: 20px; font-weight: bold;font-size: 15px; float: right;"
                >
                    More > 
                </a>
            </div>
            <div class="content">
                <div class="coachs-program row">
                    <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="program-header">Coach bien etre</div>
                        <div class="program-img">
                        <img
                            src="https://trainme.co/c/482-category_default/coach-bien-etre.jpg"
                            alt=""
                        />
                        </div>
                        <div class="program-info">
                        <div class="program-discription">
                            <p>
                            <b>Nos conseils</b>
                            </p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                            fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
                            asperiores...
                        </div>
                        </div>
                        <div class="program-btn">
                        <button
                            routerLink="../home"
                            type="submit"
                            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        >
                            Voir le programme
                        </button>
                        </div>
                    </div>
                    <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="program-header">Coach fitness</div>
                        <div class="program-img">
                        <img
                            src="https://trainme.co/c/484-category_default/coach-fitness.jpg"
                            alt=""
                        />
                        </div>
                        <div class="program-info">
                        <div class="coach-discription">
                            <p>
                            <b>Nos conseils</b>
                            </p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                            fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
                            asperiores...
                        </div>
                        </div>
                        <div class="program-btn">
                        <button
                            routerLink="../home"
                            type="submit"
                            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        >
                            Voir le programme
                        </button>
                        </div>
                    </div>
                    <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="program-header">competition</div>
                        <div class="program-img">
                        <img
                            src="https://trainme.co/c/483-category_default/coach-sportif-competition.jpg"
                            alt=""
                        />
                        </div>
                        <div class="program-info">
                        <div class="coach-discription">
                            <p>
                            <b>Nos conseils</b>
                            </p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                            fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
                            asperiores...
                        </div>
                        </div>
                        <div class="program-btn">
                        <button
                            routerLink="../coach-program-details"
                            type="submit"
                            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        >
                            Voir le programme
                        </button>
                        </div>
                    </div>
                    <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="program-header">Reprise</div>
                        <div class="program-img">
                        <img
                            src="https://trainme.co/c/485-category_default/coach-reprise-sportive.jpg"
                            alt=""
                        />
                        </div>
                        <div class="program-info">
                        <div class="coach-discription">
                            <p>
                            <b>Nos conseils</b>
                            </p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                            fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
                            asperiores...
                        </div>
                        </div>
                        <div class="program-btn">
                        <button
                            routerLink="../home"
                            type="submit"
                            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        >
                            Voir le programme
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="groupe">
        <section class="user-showcoachs">
            
            <div>
                <h4 style="padding-left: 20px; font-weight: bold;font-size: 15px; display: inline-block;">Coachs</h4>
                <a 
                routerLink="../showcoachs"
                style="padding-right: 20px; font-weight: bold;font-size: 15px; float: right;"
                >
                    More > 
                </a>
            </div>
            <div class="content">
              <div class="coachs row">
                <div class="coach-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 test">
                  <div class="coach-img">
                    <img
                      src="https://blog.salonbodyfitness.com/wp-content/uploads/2019/11/shutterstock_493318507.jpg"
                      alt=""
                    />
                  </div>
                  <div class="coach-info">
                    <div class="coach-name">Robert</div>
                    <div class="coach-sport">competition</div>
                    <div class="coach-ratting">
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <span>(17 avis)</span>
                    </div>
                    <div class="coach-discription">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                      fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
                      asperiores...
                    </div>
                    <div class="coach-footer">
                      <div class="coach-price">40 euro</div>
                      <div class="coach-more-info bg-primary" routerLink="../coach2-info">
                        <div class="more-info-text">info</div>
                        <div class="more-info-icon">
                          <i class="bx bx-info-circle"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="coach-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 test">
                  <div class="coach-img">
                    <img
                      src="https://www.votrecoachperso.fr/wp-content/uploads/renforcement-musculaire-02.jpg"
                      alt=""
                    />
                  </div>
                  <div class="coach-info">
                    <div class="coach-name">Sara</div>
                    <div class="coach-sport">yoga</div>
                    <div class="coach-ratting">
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <span>(17 avis)</span>
                    </div>
                    <div class="coach-discription">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                      fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
                      asperiores...
                    </div>
                    <div class="coach-footer">
                      <div class="coach-price">40 euro</div>
                      <div class="coach-more-info bg-primary">
                        <div class="more-info-text">info</div>
                        <div class="more-info-icon">
                          <i class="bx bx-info-circle"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="coach-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 test">
                  <div class="coach-img">
                    <img
                      src="https://www.portail-autoentrepreneur.fr/media/knowledgebase/coach-sportif.jpg"
                      alt=""
                    />
                  </div>
                  <div class="coach-info">
                    <div class="coach-name">Alex</div>
                    <div class="coach-sport">boxing</div>
                    <div class="coach-ratting">
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <span>(17 avis)</span>
                    </div>
                    <div class="coach-discription">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                      fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
                      asperiores...
                    </div>
                    <div class="coach-footer">
                      <div class="coach-price">40 euro</div>
                      <div class="coach-more-info bg-primary">
                        <div class="more-info-text">info</div>
                        <div class="more-info-icon">
                          <i class="bx bx-info-circle"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="coach-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 test">
                  <div class="coach-img">
                    <img
                      src="https://blog.u-formation.fr/wp-content/uploads/2020/11/lieux-coach-sportif.jpg"
                      alt=""
                    />
                  </div>
                  <div class="coach-info">
                    <div class="coach-name">Pierre</div>
                    <div class="coach-sport">fitness</div>
                    <div class="coach-ratting">
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <span>(17 avis)</span>
                    </div>
                    <div class="coach-discription">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                      fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
                      asperiores...
                    </div>
                    <div class="coach-footer">
                      <div class="coach-price">40 euro</div>
                      <div class="coach-more-info bg-primary">
                        <div class="more-info-text">info</div>
                        <div class="more-info-icon">
                          <i class="bx bx-info-circle"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
</div>
