<section class="user-coachs-program">
  <div class="header">
    <p>Objectifs sportif</p>
    <p>
      Nos coachs sont là pour vous permettre d'atteindre vos objectifs sportifs
      !
    </p>
  </div>
  <div class="content">
    <div class="coachs-program row">
      <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="program-header">Coach bien etre</div>
        <div class="program-img">
          <img
            src="https://trainme.co/c/482-category_default/coach-bien-etre.jpg"
            alt=""
          />
        </div>
        <div class="program-info">
          <div class="program-discription">
            <p>
              <b>Nos conseils</b>
            </p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
            fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
            asperiores...
          </div>
        </div>
        <div class="program-btn">
          <button
            routerLink="../home"
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Voir le programme
          </button>
        </div>
      </div>
      <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="program-header">Coach fitness</div>
        <div class="program-img">
          <img
            src="https://trainme.co/c/484-category_default/coach-fitness.jpg"
            alt=""
          />
        </div>
        <div class="program-info">
          <div class="coach-discription">
            <p>
              <b>Nos conseils</b>
            </p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
            fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
            asperiores...
          </div>
        </div>
        <div class="program-btn">
          <button
            routerLink="../home"
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Voir le programme
          </button>
        </div>
      </div>
      <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="program-header">competition</div>
        <div class="program-img">
          <img
            src="https://trainme.co/c/483-category_default/coach-sportif-competition.jpg"
            alt=""
          />
        </div>
        <div class="program-info">
          <div class="coach-discription">
            <p>
              <b>Nos conseils</b>
            </p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
            fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
            asperiores...
          </div>
        </div>
        <div class="program-btn">
          <button
            routerLink="../coach-program-details"
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Voir le programme
          </button>
        </div>
      </div>
      <div class="program-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="program-header">Reprise</div>
        <div class="program-img">
          <img
            src="https://trainme.co/c/485-category_default/coach-reprise-sportive.jpg"
            alt=""
          />
        </div>
        <div class="program-info">
          <div class="coach-discription">
            <p>
              <b>Nos conseils</b>
            </p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
            fugiat veritatis officiis! Unde aliquam numquam molestias vel quo
            asperiores...
          </div>
        </div>
        <div class="program-btn">
          <button
            routerLink="../home"
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Voir le programme
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
